<div class="grahamcrackers">
  <p>
    Today, I will <%=h @featured_post.message %>
  </p>
  <p class="attribution">
    -- <%=h @featured_post.name %>,
    <%=h @featured_post.created_at.strftime("%B %d, %Y") %>
    (&#35;<%=h num+1%>)
  </p>
  <p class="small">
    <%= link_to "(What are you going to do today?)", new_post_path %>
  </p>
</div>

<div class="footer">
  <p>
    by <a href="mailto:thomson@squareheadgroup.com">Thomson Nguyen.</a>
    <%= link_to "(To-do)", wishlist_index_path%>
  </p>
</div>
