<div class="grahamcrackers">
  <p>
    Today, I will <%=h @featured_post.message %>
  </p>
  <p class="attribution">
    -- <%=h @featured_post.name %>,
    <%=h @featured_post.created_at.strftime("%B %d, %Y") %>
    <%= link_to "(&#35;" + @featured_post.id.to_s + ")", @featured_post %>
  </p>
  <p class="small">
    <%= link_to "(What are you going to do today?)", new_post_path %>
  </p>
</div>

<div class="footer">
<script type="text/javascript" src="http://w.sharethis.com/button/sharethis.js#publisher=29ec575a-3367-4f96-a8cc-dfc4e0a431ba&amp;type=website&amp;post_services=email%2Cfacebook%2Ctwitter%2Cgbuzz%2Cmyspace%2Cdigg%2Csms%2Cwindows_live%2Cdelicious%2Cstumbleupon%2Creddit%2Cgoogle_bmarks%2Clinkedin%2Cbebo%2Cybuzz%2Cblogger%2Cyahoo_bmarks%2Cmixx%2Ctechnorati%2Cfriendfeed%2Cpropeller%2Cwordpress%2Cnewsvine&amp;button=false"></script>
<style type="text/css">
body {font-family:helvetica,sans-serif;font-size:12px;}
a.stbar.chicklet img {border:0;height:16px;width:16px;margin-right:3px;vertical-align:middle;}
a.stbar.chicklet {height:16px;line-height:16px;}
</style>
<p>
    <%= mail_to "thomson@squareheadgroup.com", "Questions" %>? |
	<%= link_to "Github", "http://www.github.com/itsthomson/todayiwill/"%> |
    <%= link_to "To-do", wishlist_index_path %> 
  </p>
</div>
