<div class="grahamcrackers">
  <p>
    Today, I will <%=h @featured_post.message %>
  </p>
  <p class="attribution">
    -- <%=h @featured_post.name %>,
    <%=h @featured_post.created_at.strftime("%B %d, %Y") %>
    <%= link_to "(&#35;" + @featured_post.id.to_s + ")", @featured_post %>
  </p>
  <p class="small">
    <%= link_to "(What are you going to do today?)", new_post_path %>
  </p>
</div>

<div class="footer">
  <p>
  <span  class='st_twitter_large' ></span><span  class='st_facebook_large' ></span><span  class='st_yahoo_large' ></span><span  class='st_gbuzz_large' ></span><span  class='st_email_large' ></span><span  class='st_sharethis_large' ></span>
  </p>
  <p>
   by <%= mail_to "thomson@cantab.com", "Thomson Nguyen" %>.
    <%= link_to "(To-do)", wishlist_index_path %>
    <br/>
    <%= mail_to "thomson@cantab.net", "Questions" %>? |
	<%= link_to "Github", "http://www.github.com/itsthomson/todayiwill/"%> |
    <%= link_to "To-do", wishlist_index_path %> 
  </p>
</div>
