<div class="grahamcrackers">
  <p>
    Today, I will <%=h @featured_post.message %>
  </p>
  <p class="attribution">
    -- <%=h @featured_post.name %>,
    <%=h @featured_post.created_at.strftime("%B %d, %Y") %>
    <%= link_to "(&#35;" + @featured_post.id.to_s + ")", @featured_post %>
  </p>
  <p class="small">
    <%= link_to "(What are you going to do today?)", new_post_path %>
  </p>
</div>

<div class="footer">
  <p>
    by <%= mail_to "thomson@squareheadgroup.com", "Thomson Nguyen" %>.
    <%= link_to "(To-do)", wishlist_index_path %>
  </p>
</div>
