<h1>Editing post</h1>

<% form_for(@post) do |f| %>
  <%= f.error_messages %>

  <p class="small">
    My name is
    <%= f.text_field :name %>
  and today, I will
    <%= f.text_field :message %>
  </p>
  <p>
    <%= f.submit 'And I will.' %>
  </p>
<% end %>

<%= link_to 'Show', @post %> |
<%= link_to 'Back', posts_path %>
<div class="footer">
<p>by <a href="mailto:thomson@squareheadgroup.com">Thomson Nguyen.</a> <%= link_to "(Go back)", home_index_path%> </p>
</div>

