<h1>Editing post</h1>

<% form_for(@post) do |f| %>
  <%= f.error_messages %>

  <p class="small">
    My name is
    <%= f.text_field :name %>
  and today, I will
    <%= f.text_field :message %>
  </p>
<!--
<p>
    <%= f.submit 'And I will.' %>
  </p>
  -->
<% end %>

<%= link_to 'Show', @post %> |
<%= link_to 'Back', posts_path %>
<div class="footer">
  <p>
    <%= mail_to "thomson@squareheadgroup.com", "Questions" %>? |
	<%= link_to "Github", "http://www.github.com/itsthomson/todayiwill/"%> |
    <%= link_to "To-do", wishlist_index_path %> 
  </p>
</div>
