<h1>New post</h1>

<% form_for(@post) do |f| %>
  <%= f.error_messages %>

  <p>
    My name is 
    <%= f.text_field :name %>,
  </p>
  <p>
    and today, I will
    <%= f.text_field :message %>
  </p>
  <p>
    <%= f.submit 'And I will.' %>
  </p>
<% end %>

<%= link_to 'Back', posts_path %>
